# The repo owner must review all changes to bump_version and any files it touches
bump_version                                            @tesserafin
.github/ISSUE_TEMPLATE                                  @tesserafin
MediaBrowser.Common/MediaBrowser.Common.csproj          @tesserafin
Tesserafin.Data/Tesserafin.Data.csproj                      @tesserafin
MediaBrowser.Controller/MediaBrowser.Controller.csproj  @tesserafin
MediaBrowser.Model/MediaBrowser.Model.csproj            @tesserafin
Emby.Naming/Emby.Naming.csproj                          @tesserafin
src/Tesserafin.Extensions/Tesserafin.Extensions.csproj      @tesserafin
# Core must approve all changes within the repo config
.github/                                                @tesserafin
